* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(35, 35, 35);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #6d6a6aa2;
    font-family: 'Arial', sans-serif;
}

.main {
    border: 2px solid #eee;
    border-radius: 10px;
    min-width: 250px;
    height: fit-content;
    width: 80vw;
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
}
.btn * {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
}
.main .disp #display {
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    overflow: auto;
}
.left {
}
@media only screen and (min-width: 550px) {
    .main {
        height: 500px;
    }
}
@media only screen and (orientation: landscape) and (max-width: 750px) and  (max-height: 300px) {
    body::before {
        content: "⚠️ Landscape mode is not supported";
        position: fixed;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        background: white;
        color: red;
        border: 2px solid red;
    }
}